/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Resset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1;

  list-style: none;

  /* ORIENTATIVO */
  border: solid 1px grey;

  /* link decoration */
  & a:link {
    text-decoration: none;
    color: rgb(18, 18, 18);
  }
  a:visited {
    text-decoration: none;
    color: rgb(18, 18, 18);
  }
  a:hover {
    text-decoration: none;
    color: rgb(18, 18, 18);
  }
  a:active {
    text-decoration: none;
    color: rgb(18, 18, 18);
  }
}

html {
  background-color: var(--background);
  border: none;
}

body {
  border: none;
}
/* Container */
.container {
  border: none;

  --top-and-bottom-padding: 12px;
  padding: var(--top-and-bottom-padding) 36px;
}

/* Main */
.main {
  width: 100%;
  height: calc(100vh - (var(--top-and-bottom-padding)) * 2);

  

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 2px;

  /* Banner */
  & .main__banner {
    grid-column: 1/5;
    grid-row: 1/3;
  }

  /* Botones */
  .main__capt {
    grid-column: 1/5;
    grid-row: 3/4;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    /* Botones servicios/contactar */
    & .main__servicios,
    .main__contactar {
      padding: 16px 32px;
      background-color: var(--accent);
    }
  }

  /* Picture */
  .main__img {
    grid-column: 1/5;
    grid-row: 4/6;
  }

  /* Lorem */
  .main__text {
    grid-column: 1/5;
    grid-row: 6/8;

    padding: 0px 26px;
    display: flex;
    align-items: center;
    text-align: left;
  }

  /* Footer */
  & .footer {
    grid-column: 1/5;
    grid-row: 8/9;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--accent);

    /* Iconon RRSS */
    & .socials__icon {
      border: none;
      background-color: none;
    }
  }
}

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */
:root {
  --background: #b0bfb5;
  --background2: #b0bfb5;
  --accent: #658c76b3;
  --dark-accent: #44695c;
}

/* ******************************** */
